/* Estructura general */
main.container {
   width: 80%;
   margin: 0 auto;
   padding: 20px;
}

h1 {
   text-align: center;
}

.productos-carrito {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.producto-tarjeta {
   display: flex;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   width: 100%;
   max-width: 400px;
   background-color: #fff;
}

.producto-imagen {
   margin-right: 15px;
}

.imagen-producto {
   width: 80px;
   height: 80px;
   object-fit: cover;
}

.producto-info {
   flex-grow: 1;
}

.producto-info h3 {
   margin: 0 0 10px;
}

.producto-info p {
   margin: 5px 0;
}

.btn-actualizar, .btn-eliminar, .btn-pagar {
   background-color: #28a745;
   color: white;
   padding: 5px 10px;
   border: none;
   cursor: pointer;
   text-decoration: none;
   border-radius: 5px;
}

.btn-actualizar:hover, .btn-eliminar:hover, .btn-pagar:hover {
   background-color: #218838;
}

.total-carrito {
   text-align: center;
   margin-top: 30px;
   font-size: 1.2em;
}

.total-carrito h2 {
   margin-bottom: 20px;
}

.total-carrito .btn-pagar {
   background-color: #007bff;
}

.total-carrito .btn-pagar:hover {
   background-color: #0056b3;
}
